extends head

block head
    link(rel="stylesheet", href="../style.css")

block allmain
    if error
        .alert.alert-danger(role="alert")
            h5.alert-heading
                strong 
                    i.bi.bi-exclamation-circle
                    | !{JSON.stringify(error, null, 2)}
    table.table.table-sm
        thead
            tr
                for key of header
                    th !{key}
        tbody
            for anovalues of values
                tr
                    for value of anovalues
                        if value == 0
                            td: span.text-muted !{value}
                        else
                            td: span.fw-bold !{value}
                