extends head

block allmain
    h2 Lista de secções noutros campos
    table.table#errors
        thead#thead-errors
            tr
                th#count
                th Campo com secção
                th Valor
                th Tribunal
        tbody#tbody-errors
        tbody#tbody-end
            tr
                th A procurar acórdãos...

    script.
        let main = document.getElementById("main");
        let evs = new EventSource("./seccoes-sse?distance=3");
        evs.addEventListener("SeccaoFound", function(e){
            createSeccao(JSON.parse(e.data));
        })

        evs.addEventListener("EndEvent", function(e){
            document.getElementById("tbody-end").remove();
        });

        let count = 1;

        function createSeccao(source){
            // create tbody row
            let tbody = document.getElementById("tbody-errors");
            let tr = document.createElement("tr");
            tr.appendChild(document.createElement("td")).innerHTML = count++;
            document.getElementById("count").innerHTML = count-1;
            tr.appendChild(document.createElement("td")).innerHTML = `${source["key"]}`;
            tr.appendChild(document.createElement("td")).innerHTML = `${source["value"]}`;
            tr.appendChild(document.createElement("td")).innerHTML = `${source["Tribunal"]}`;
            tbody.appendChild(tr);
        }



