extends head.pug 

block printpageinfo
    h6 Sumarizador

block headerinput
    h4(style="color: var(--color-white);").fancy-font Sumarizador

block allmain
    .row
        .col-12
            h4 Input
        form#anonim-form(action="https://pe.inesc-id.pt/sumarizador/", method="post").col-12.col-sm-6
            input(type="file", name="file")
            button(type="submit") Correr a partir de ficheiro
        form#anonim-form-text(action="https://pe.inesc-id.pt/sumarizador/", method="post").col-12.col-sm-6
            textarea(name="file").w-100
            button(type="submit") Correr este texto
        .col-12.bg-dark.p-4
            div#out.bg-white.w-100.m-auto.p-5(style="max-width: 1240px")
    style.
        mark::before{
            content: attr(role);
            font-size: 0.5rem;
            font-weight: bold;
            padding: 0.2rem;
        }
    script.
        document.getElementById("anonim-form").addEventListener("submit", (evt) => {
            evt.preventDefault();
            let button = document.getElementById("anonim-form").querySelector("button");
            button.disabled = true;
            let formData = new FormData(document.getElementById("anonim-form"));
            fetch("https://pe.inesc-id.pt/sumarizador/", {
                method: "POST",
                body: formData
            }).then(response => response.json()).then(obj => {
                showResponse(obj);
                button.disabled = false;
            });
        });
        document.getElementById("anonim-form-text").addEventListener("submit", (evt) => {
            evt.preventDefault();
            let button = document.getElementById("anonim-form-text").querySelector("button");
            button.disabled = true;
            let formData = new FormData();
            formData.append("file", new Blob([document.getElementById("anonim-form-text").querySelector("textarea").value]), "text.txt");
            fetch("https://pe.inesc-id.pt/sumarizador/", {
                method: "POST",
                body: formData
            }).then(response => response.json()).then(obj => {
                showResponse(obj);
                button.disabled = false;
            });
        });

        function showResponse(json){
            let out = document.getElementById("out");
            out.innerHTML = "";
            let max = json.reduce((o, acc) => o.score > acc.score ? o : acc);
            let min = json.reduce((o, acc) => o.score < acc.score ? o : acc);
            for(let i = 0; i < json.length; i++){
                let p = document.createElement("p");
                p.innerText = json[i].text;
                p.style.opacity = logistic((json[i].score - min.score) / (max.score - min.score));
                out.appendChild(p);
            }
        }

        function logistic(x){
            return 0.75 / (1+Math.exp(-200*(x-0.99))) + 0.25;
        }
