doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sumarizador
        link(rel="stylesheet",href="./style.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    body.bg-dark(style="width: 100vw; height: 100vh;")
        input#file.form-control.form-control-sm(type="file", name="file", hidden)
        .row.m-auto
            .col-12.col-sm-5
                #out.bg-white.m-4.p-4
                    u.cursor-pointer#fake-input Inserir documento aqui
            .col-12.col-sm-7
                #sentences.d-flex.flex-column.bg-white.m-4.p-4(style="position: sticky; top: 0;")
                    | As frases serão mostradas aqui
        style.
            .best{
                background: pink;
            }
        script.
            addEventListener("load", function(){
                document.getElementById("file").addEventListener("change", function(e){
                    let formData = new FormData();
                    formData.append("file", e.target.files[0]);
                    fetch("https://pe.inesc-id.pt/sumarizador/", {
                        method: "POST",
                        body: formData
                    }).then(response => response.json()).then(obj => {
                        showResponse(obj);
                    }).finally(() => {
                        buttons.forEach(o => o.disabled = false);
                    });
                });

                document.getElementById("fake-input").addEventListener("click", function(e){
                    e.preventDefault();
                    document.getElementById("file").click();
                });
            });

            document.body.addEventListener("dragover", function(e){
                e.preventDefault();
                e.stopPropagation();
            });
            document.body.addEventListener("drop", function(e){
                e.preventDefault();
                e.stopPropagation();
                let formData = new FormData();
                formData.append("file", e.dataTransfer.files[0]);
                fetch("https://pe.inesc-id.pt/sumarizador/", {
                    method: "POST",
                    body: formData
                }).then(response => response.json()).then(obj => {
                    showResponse(obj);
                });
            });

            function flatChildren(parent){
                if( parent.innerText.split("\n").length > 1 ){
                    return Array.from(parent.children).flatMap(o => flatChildren(o));
                }
                else{
                    return parent;
                }
            }


            function showResponse({sentences: sentences, html}){ // sentences: {text:"", start_char:0, end_char:0, score:0}
                let out = document.getElementById("out");
                out.innerHTML = html;
                let bestN = sentences.sort((a, b) => b.score - a.score).slice(0, 10).sort((a, b) => b.start_char - a.start_char);

                let children = Array.from(out.children).flatMap(o => flatChildren(o));

                for( let [i, sent] of enumerate(bestN) ){
                    let bestChild = {best: null, score: Infinity};
                    for( let child of children ){
                        let dist = levenshteinDistance(child.innerText, sent.text);
                        if( dist < bestChild.score ){
                            bestChild.best = child;
                            bestChild.score = dist;
                        }
                    }
                    if( bestChild.best ){
                        let clone = bestChild.best.cloneNode(true);
                        bestChild.best.classList.add("best");
                        bestChild.best.dataset.score = sent.score;
                        bestChild.best.id = `best-${i}`;

                        let a = document.createElement("a");
                        a.href = "#" + bestChild.best.id;
                        a.appendChild(clone);
                        a.classList.add("text-decoration-none");
                        a.classList.add("text-body");
                        document.getElementById("sentences").appendChild(a);
                    }
                }
            }

            function* enumerate(arr){
                let i = 0; 
                while( i < arr.length ){
                    yield [i, arr[i++]];
                }
            }

            function levenshteinDistance(s0, s1){
                let d = [];
                for(let i = 0; i <= s0.length; i++){
                    d[i] = [];
                    d[i][0] = i;
                }
                for(let j = 0; j <= s1.length; j++){
                    d[0][j] = j;
                }
                for(let i = 1; i <= s0.length; i++){
                    for(let j = 1; j <= s1.length; j++){
                        d[i][j] = Math.min(d[i-1][j] + 1, d[i][j-1] + 1, d[i-1][j-1] + (s0[i-1] === s1[j-1] ? 0 : 1));
                    }
                }
                return d[s0.length][s1.length];
            }

            function logistic(x){
                return 0.75 / (1+Math.exp(-200*(x-0.99))) + 0.25;
            }
