extends head

block header
    header.mb-2
        form.container.row.align-items-center.m-auto.p-4
            a(href="../").col-12.col-lg-6.align-items-center.d-flex.flex-wrap.py-2
                img(src="./stj-logo.png", style="max-height: 70px;")
                h2.ps-2 Jurisprudência
            .col-12.col-lg-6.d-print-none
                block headerinput
                    h4(style="color: var(--color-white);") Estatística
            .col-12.col-lg-6.d-none.d-print-block
                block printpageinfo
                    p Estatística

block allmain
    if error
        .alert.alert-danger(role="alert")
            h5.alert-heading
                strong 
                    i.bi.bi-exclamation-circle
                    | !{JSON.stringify(error, null, 2)}
    a(href="./") Voltar
    table.table.table-sm
        thead
            tr
                for key of header
                    th !{key}
        tbody
            for anovalues of values
                tr
                    for value of anovalues
                        if value == 0
                            td: span.text-muted !{value}
                        else
                            td: span.fw-bold !{value}
                